<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Search Weather">
    <test thread-count="4" name="Testcases">
        <classes>
            <class name="com.shiron.testcase.weather.SearchWeather"/>
        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->
